.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: #fff;
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 500px;
  width: 100%;
  border-radius: 20px;

  padding: 34px 36px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__header {
  margin-bottom: 32px;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 144px;
  height: 36px;
  margin: 32px 0 0 0;
  padding: 16px 0;

  border: none;
  border-radius: 8px;

  font-family: "Cabinet Grotesk";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #fff;
  background-color: #000;

  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.modal__radio {
  margin: 0;
  padding: 0;
}

.modal__button-close {
  position: absolute;
  top: 16px;
  right: 16px;

  border: none;

  mix-blend-mode: multiply;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

  padding: 0;

  cursor: pointer;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 0 0 8px 0;
  margin-bottom: 24px;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  width: 100%;

  color: #000;
}
