.switch {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  align-items: center;
  border-radius: 25px;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  width: 56px;
  height: 30px;
  appearance: none;
  cursor: pointer;
}

.switch__slider {
  position: absolute;
  top: 3px;

  width: 30px;
  height: 30px;

  background-color: #000;
  color: #fff;

  text-align: center;

  cursor: pointer;

  border-radius: 50%;
}

.switch__slider-F {
  left: 4px;
}

.switch__slider-C {
  right: 3px;
}

.switch__active {
  color: #fff;
}

.switch__inactive {
  color: rgba(0, 0, 0, 0.6);
}

.switch__temp-F {
  position: absolute;
  font-size: 16px;

  top: -10px;
  left: 14px;

  cursor: pointer;
}

.switch__temp-C {
  position: absolute;
  font-size: 16px;

  top: -10px;
  left: 39px;

  cursor: pointer;
}

.switch:hover {
  .switch__box {
    border: 2px solid #000;
  }

  .switch__inactive {
    color: #000;
  }
}
