.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  font-family: "Cabinet Grotesk";
  font-weight: 700;
  line-height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: #fff;
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 500px;
  width: 100%;
  border-radius: 20px;

  padding: 34px 36px;
}

.modal__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 144px;
  height: 36px;

  margin: 0;

  border: none;

  font-family: "Cabinet Grotesk";
  font-weight: 700;

  font-size: 16px;
  line-height: 20px;

  color: #fff;
  background-color: transparent;

  cursor: pointer;
}

.modal__button-confirm {
  color: #ff4d00;
}

.modal__button-cancel {
  color: #000;
}

.modal__button-close {
  position: absolute;
  top: 16px;
  right: 16px;

  border: none;

  mix-blend-mode: multiply;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

  padding: 0;

  cursor: pointer;
}
